@import "media-queries";
@import "body";

.blog-title {
  //margin-top: 175px !important;
  position: relative;
  //bottom: 20px;
  //left: 50%;
  //transform: translateX(-50%);
  color: white; /* Set the text color to white or any other color you prefer */
}

h1.blog-title {
  font-weight: 800;
  padding: 20px;
  text-align: center;
  font-size: 10vw !important;
  line-height: 10vw !important;

  @include small-mobile-up {
    font-size: 5rem;
    line-height: 4rem;
  }

  @include small-mobile-down {
    font-size: 3.6rem;
  }
}

.post-cards {
  margin-top: 50px;
}

p.blog-intro {
  text-align: center;
  padding: 10px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 18px !important;
}

.blog {
  h5.card-title,
  .card-text,
  .card-date {
    color: #303030;
    font-weight: 600;
  }

  .cta {
    width: fit-content;
    margin: 0 auto;
  }
}

.blog-header {
  margin: 150px 0 100px;
}

.blog-home {
  margin-top: 120px;
}

div.card {
  border: none !important;
  background: #e5e5e5 !important;
  padding: 10px;
  margin: 5px;
}

.blog-btn {
  color: #303030 !important;
  &:hover {
    background-color: transparent !important;
    opacity: 1 !important;
    border-color: #303030 !important;
  }
}

a#latest-post-link {
  color: #fff !important;
  transition: color 0.3s ease-in;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.blog-img-container {
  position: relative;
  padding: 30px;
}

.blog-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/assets/qr.png") repeat center;
  background-size: cover;
  opacity: 0.5; /* Adjust the opacity value as needed */
  z-index: 1;
}

.blog-img-container blog-img {
  position: relative;
  z-index: 2;
}

.col-md-4.masonry-item.aos-init {
  z-index: 2;
}
