@import "media-queries";

$highlight: #1bb6e5;
$accent: #fff;
$hover: #ffbc34;

body {
  font-family: "Manrope", sans-serif !important;
  font-weight: 400;
  background: #212121 !important;
  color: $accent !important;
  &.modal-open {
    overflow: hidden;
  }
}

.cform {
  color: #303030;
}

@media (max-width: 991px) {
  .container.mt-5 {
    padding-right: 0px !important;
  }
}

a {
  color: #bcbcbc !important;
  transition: color 0.5s ease-in !important;
  &:active,
  &:focus {
    color: #bcbcbc !important;
  }
  &:hover:not(.logo-link, .nav-content, .result-link) {
    color: #fff !important;
  }
}

a.btn.btn-primary.cta:active {
  background: none !important;
  border: 3px solid white;
}

p.logo-text {
  margin-bottom: 0px;
  color: #e5e5e5;
  font-size: 45px;
  font-family: "Black Ops One", sans-serif;
  letter-spacing: -10px;
  transition: color 0.6s ease-in;
  &:hover {
    color: #bcbcbc !important;
  }
  &.modal-open {
    color: #777 !important;
  }
}

a.logo-link {
  text-decoration: none !important;
}

.row > * {
  padding-right: calc(var(--bs-gutter-x) * 0.8) !important;
  padding-left: calc(var(--bs-gutter-x) * 0.8) !important;
}

.text-highlight {
  font-weight: 600;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #1b1b1b;
}

h5.usp-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fdbb0a;
  margin-bottom: 10px;
}

.h2-highlight {
  font-weight: 600;
  text-decoration: underline;
  color: $highlight;
}

h2.display-4 {
  color: $accent;
}

h1.display-5 {
  font-weight: 700 !important;
  color: #e5e5e5;
  &.usp {
    color: #303030 !important;
    //background-image: url("/assets/mntn.png");
  }
}

h1.display-4 {
  font-weight: 700;
  color: #e5e5e5;
  line-height: 5rem;
  z-index: 5;
  /*
  @media (min-width: 576px) {
    font-size: 90px;
  }

  @media (min-width: 449px) and (max-width: 575px) {
    font-size: 75px !important;
    line-height: 5rem !important;
  }

  @media (max-width: 448px) and (min-width: 370px) {
    font-size: 65px !important;
    line-height: 4rem !important;
  }

  @media (max-width: 369px) {
    font-size: 45px;
    line-height: 3rem !important;
  }*/
}

span.text-shadow {
  text-shadow: 4px 4px #ffbc34;
}

/*span.white-bg {
  background: white;
}*/

.underline-custom {
  text-decoration: underline;
  text-decoration-color: $highlight;
}

h2.display-4.intro {
  padding-top: 30px;
  font-weight: 400;
  margin-bottom: 20px;

  @include desktop-up {
    //line-height: 6.5rem !important;
    font-size: 2.6rem;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    //line-height: 3.2rem !important;
  }

  @media (min-width: 576px) and (max-width: 767px) {
    //line-height: 2.5rem !important;
  }

  @include bs-mobile {
    //font-size: 28px;
    //line-height: 2rem !important;
  }
}

.d-flex {
  flex-wrap: wrap;
  align-content: flex-start;
}

img.cover-image {
  width: 500px;
  clip-path: circle(50%);

  @include bs-mobile {
    width: 300px;
  }

  @include bs-tablet {
    width: 450px;
  }
}

.col-md-6.d-flex.cover-image {
  @media (max-width: 767px) {
    justify-content: center;
    padding-top: 45px;
  }
}

@media (min-width: 992px) {
  .row.cover-content {
    margin-right: 0px;
  }
}

div.card {
  border: none !important;
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1070px !important;
  }
}

.usp-three-col {
  margin-top: 40px;
}
.drop-cap {
  font-size: 2rem;
  font-weight: bold;
  margin-right: 4px;
}
