@import "body";

// Until populated
section.footer-link-section {
  display: none;
}

.scroll-top {
  color: #212121;
  position: fixed;
  bottom: 0;
  right: 0;
  display: none;
  font-weight: 600;
  font-size: 16px;
  padding: 15px;
  background: #fff;
}

.text-center.p-4 {
  background-color: #212121 !important;
  color: white !important;
}
button#close-btn {
  background-color: #ffffff;
  border: 2px solid #242b2f;
  border-radius: 0px;
  padding: 6px;
}
div#popup-container {
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #ffffff;
  padding: 10px;

  a {
    font-weight: 500;
    color: $accent;
  }

  p {
    color: $accent;
    font-weight: 700;
  }
}

section.d-flex.justify-content-center {
  padding: 20px;
}
